@import url("https://fonts.googleapis.com/css?family=Poppins");
html {
  font-family: "Poppins", sans-serif;

  color: black;
}
section {
  width: 100vw;
  margin-top: 10%;
  margin-bottom: 10%;
}

.whispering-earring {
  width: min(50vw, 900px);
  min-height: 50vh;
  margin: 25vh auto;
}
hr {
  height: 2px;
  border-width: 0;

  color: black;
  background-color: black;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
p {
  font-size: 1.2em;
}
a:link,
a:visited {
  color: black;
  text-decoration: none;
}

a:hover,
a:active {
  color: grey;
  text-decoration: underline;
}

.icon {
  font-size: 4em;
  margin: 2%;
  vertical-align: middle;
}
a.icon:link,
a.icon:visited {
  color: black;
  text-decoration: none;
  padding: 5% 5%;
}

a.icon:hover,
a.icon:active {
  background-color: #b967ff;
  color: white;
}

.stacks {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
}
.stack-item {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}
.stack-item-small {
  font-size: 0.75em;
}
.stack-item a:link,
.stack-item a:visited {
  color: black;
  text-decoration: none;
  padding: 8px 12px;
}
.stack-item a:hover,
.stack-item a:active {
  background-color: #b967ff;
  color: white;
  font-weight: bold;
}
.footer-item {
  margin: 2em;
}
.flex-stack {
  display: flex;
}

#portrait {
  border-radius: 0px;
  width: 400px;
  object-fit: cover;
}

#stacks-left {
  padding: 1em;
}
#stacks-right {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#footer {
  font-size: 0.9em;
  position: relative;
  height: 75%;
}

/* Tablet */
@media (max-width: 850px) {
  .whispering-earring {
    width: 80vw;
    margin: 10vh auto;
  }

  .flex-stack {
    flex-direction: column;
  }

  #portrait {
    width: 300px;
  }
  #stacks-right {
    grid-template-columns: 1fr 1fr;
  }
  #footer {
    font-size: 0.9em;
    height: 75%;
  }
}

/* Mobile */
@media (max-width: 400px) {
  .whispering-earring {
    width: 90vw;
    margin: 5vh auto;
  }

  #portrait {
    width: 200px;
  }
  #stacks-right {
    grid-template-columns: 1fr;
  }
  #footer {
    font-size: 0.9em;
    height: 100%;
  }
}
