body {
  background-color: #ffffff;
  color: #000000;
}

body, input, select, textarea {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.65;
}

a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

strong, b {
  font-weight: 400;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 2rem 0;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}
